@model string

<!-- Default.cshtml -->
<!-- Create a Greeting View Component View (`Default.cshtml`) -->
<!-- This view is responsible for rendering the HTML representation of the greeting message. -->
<!-- The content here defines how the greeting message should be displayed. -->
<!-- It's important to have this view because it allows customization of the appearance -->
<!-- of the greeting message. By using a separate view, we can control the HTML structure and styling. -->
<!-- For simplicity, we just display the greeting message in a paragraph. -->
<p>@Model</p>